@font-face
  font-family: 'PT Sans'
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/PTSans-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/PTSans-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

  @font-face
  font-family: 'Rubik'
  src: local('Rubik'), local('Rubik-Regular'), url('../fonts/Rubik-Regular.woff') format('ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: local('Rubik'), local('Rubik-Bold'), url('../fonts/Rubik-Bold.woff') format('ttf')
  font-weight: bold
  font-style: normal
